<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cab Booking</title>
    <link rel="stylesheet" href="../../public/assests/css/cabbook.css">
    <link rel="stylesheet" href="../../public/assests/css/cab.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="icon"
        href="https://cdn-user-icons.flaticon.com/116851/116851778/1694933370779.svg?token=exp=1694934288~hmac=c57675246c311010e227300424f0ffb5">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>

<body>
    <div class="bg-secondary row">
        <div class="col-lg-6 icons text">
            <div class="mt-2">
                &nbsp;<i class="fa-brands fa-facebook-f" style="color: white;"></i>
                <i class="fa-brands fa-instagram" style="color: white;"></i>
                <i class="fa-brands fa-twitter" style="color: white;"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="text-end icons text-white mt-2">
                <i class="fa-solid fa-phone fa-fade"></i><label>&nbsp;9087661022</label>
                <i class="fa-solid fa-grip-lines-vertical"></i>
                <i class="fa-regular fa-user"></i><label>&nbsp;Sign in</label>
            </p>
        </div>
    </div>
    <div class="row m-3 p-10 ">
        <div class="col-lg-6">
            <img src="https://cdn-icons-png.flaticon.com/128/1023/1023350.png" width="60px" height="50px">
        </div>
        <div class="col-lg-4 ">
            <div class="navbar">
                <a href="cabbook.html" class="navs">Home</a>
                <a href="cabbookabt.html" class="navs">About us</a>
                <a href="cabride.html" class="navs">Ride Facilities</a>
                <a href="cabtarrif.html" class="navs">Tarriff</a>
                <a href="cabcontact.html" class="navs">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="card m-3 shadow-lg p-3 mb-5 bg-body rounded">
        <div class="row cardbg m-4 ">
            <div class="col-lg-4">
                <img src="https://imgd.aeplcdn.com/664x374/cw/cars/discontinued/tata/indica-vista-2008-2011.jpg?q=80"
                    width="450px" height="300px" class="m-3" style="float: left;">
            </div>
            <div class="col-lg-6 ms-4 mt-4 ">
                <p class="fs-2">Rs. 2105</p>
                <p class="text-info">Indica / Vista / Ritz / Swift or Similar</p>
                <button class="btn bg-info" style="cursor: default;">one-way</button>
                <p>Distance:<span class="fw-bold"> 130kms</span> </p>
                <p>Extra Toll at actuals + Extra Permit charges applicable. </p>
                <button class=" m-4 btn-primary btnbook">Book Now</button>
            </div>
        </div>
        <div class="row cardbg m-4 ">
            <div class="col-lg-4">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Swift-Dzire/10243/1686044076724/front-left-side-47.jpg?tr=w-456"
                    width="450px" height="300px" class="m-3" style="float: left;">
            </div>
            <div class="col-lg-6 ms-4 mt-4">
                <p class="fs-2">Rs. 2235</p>
                <p class="text-info">Dzire /Etios /Indigo /Verito or Similar</p>
                <button class="btn bg-info" style="cursor: default;">one-way</button>
                <p>Distance<span class="fw-bold"> 130kms</span></p>
                <p>Extra Toll at actuals + Extra Permit charges applicable. </p>
                <button class="m-4 btn-primary btnbook">Book Now</button>
            </div>
        </div>
        <div class="row cardbg m-4 ">
            <div class="col-lg-4">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Nexon/9675/1695710737561/front-left-side-47.jpg?tr=w-456"
                    width="450px" height="300px" class="m-3" style="float: left;">
            </div>
            <div class="col-lg-6 ms-4 mt-4">
                <p class="fs-2">Rs. 2635</p>
                <p class="text-info">Mahindra Xylo / Tawera Ertiga</p>
                <button class="btn bg-info" style="cursor: default;">one-way</button>
                <p>Distance:<span class="fw-bold"> 130kms</span> </p>
                <p>Extra Toll at actuals + Extra Permit charges applicable. </p>
                <button class="m-4 btn-primary btnbook">Book Now</button>
            </div>
        </div>
        <div class="row cardbg m-4 ">
            <div class="col-lg-4">
                <img src="https://o.remove.bg/downloads/c3e944ac-ee64-4299-bd30-4429cbc0b480/png-transparent-white-toyota-innova-crysta-suv-toyota-rav4-car-minivan-toyota-innova-crysta-thailand-sedan-vehicle-transport-thumbnail-removebg-preview.png"
                    width="450px" height="300px" class="m-3" style="float: left;">
            </div>
            <div class="col-lg-6 ms-4 mt-4">
                <p class="fs-2">Rs. 2835</p>
                <p class="text-info">Innova/Mahindra Xylo /Ertiga</p>
                <button class="btn bg-info" style="cursor: default;">one-way</button>
                <p>Distance:<span class="fw-bold"> 130kms</span> </p>
                <p>Extra Toll at actuals + Extra Permit charges applicable. </p>
                <button class=" m-4 btn-primary btnbook">Book Now</button>
            </div>
        </div>
    </div>
    <div class="m-5">
        <div class="row">
            <div class="col-md-4">
                <img src="https://www.onedroptaxi.com/assets/img/odt_about.png" width="400px" height="400px">
            </div>
            <div class="col-md-6">
                <div class="container">
                    <h1 class="text-center text-info">About OneDrop Taxi</h1>
                    <div class="ms-4">
                        <p class=" text-start fw-bold fs-3">Trusted & Affordable Cab Service</p>
                        <p>We are a luxury and best online cab booking service and hotel booking service provider
                            catering to overall South India. We have customised and exclusive tours and travel packages
                            to customers based on their travel needs. We also help in hotel booing for customers if they
                            want it exclusively. We prioritize the safety of our passengers more than anything and we
                            ensure it with our well-maintained cars and professionally trained drivers. With our
                            customer-centric approach, we offer a hassle-free, affordable, and reliable car booking
                            service for your nearby and outstation locations. OneDrop Taxi offers its customers to
                            choose from a wide range of cabs at a cost-effective price based on the customer’s budget.
                            Wherever your travel plan is and whatever is your travel destination, we leave no stone
                            unturned to make our customers feel comfortable and secure throughout their journey.</p>
                        <button class="btn btn-outline-success ms-2 p-2" style="width: 20vh;">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-white offer">
        <div class="mt-5 text-center  fs-2">
            Offers
        </div>
        <p class="fs-5 text-center">Enjoy Different Deals Each Day By Booking Your Cabs With OneDrop Taxi.
        </p>
        <div class="row justify-content-around">
            <div class="col-md-2 mt-1">
                <img src="https://www.onedroptaxi.com/assets/img/offers/offer-1.jpg"
                    style="border-radius: 30px; width: 300px; height: 410px;">
                <p style="width: 220px; text-align: center;">Get 10% off on Outstation Taxi</p>
            </div>
            <div class="col-md-2 align-items-center justify-content-center mt-1 p-3 mt-5">
                <img src="https://www.onedroptaxi.com/assets/img/offers/offer-2.jpg"
                    style="border-radius: 30px; width: 277px; height: 410px;">
                <p style="width: 220px; text-align: center;">Airport Discount</p>
            </div>
            <div class="col-md-2 align-items-center justify-content-center mt-1 p-3">
                <img src="https://img.freepik.com/free-photo/side-view-hands-holding-smartphone_23-2149764150.jpg?size=626&ext=jpg&ga=GA1.2.11406635.1692806813&semt=ais"
                    style="border-radius: 30px; width: 277px; height: 410px;">
                <p style="width: 220px; text-align: center;">Get 10% off on Outstation Taxi</p>
            </div>
            <div class="col-md-2 align-items-center justify-content-center mt-1  mt-5 p-3">
                <img src="https://img.freepik.com/free-photo/yellow-black-sign-taxi-placed-top-car-night_181624-10624.jpg?size=626&ext=jpg&ga=GA1.1.11406635.1692806813&semt=sph"
                    style="border-radius: 30px; width: 277px; height: 410px;">
                <p style="width: 220px; text-align: center;">Chennai To Tiruchy</p>
            </div>
        </div>
    </div>
    <h1 class="text-center mt-3">Trip Types</h1>
    <div class="m-3 card " style="background-color: aquamarine;">
        <div class="row m-3 justify-content-around">
            <div class="col-md-2">
                <p class="text-center p-3  ">
                    <img src="https://cdn-icons-png.flaticon.com/128/2898/2898588.png">
                </p>
                <p class="font-effect-outline fs-3 text-center">Outstation Taxi</p>
            </div>
            <div class="col-md-2">
                <p class="text-center p-3" style="background-color: aquamarine; font-size: 60px;">
                    <img src="https://cdn-icons-png.flaticon.com/128/11587/11587156.png">
                </p>
                <p class="font-effect-outline fs-3 text-center">RoundTrip cabs</p>
            </div>
            <div class="col-md-2">
                <p class="text-center p-3" style="background-color: aquamarine; font-size: 60px;">
                    <img src="https://cdn-icons-png.flaticon.com/128/11424/11424079.png">
                </p>
                <p class="font-effect-outline fs-3 text-center">Local Rental</p>
            </div>
            <div class="col-md-2">
                <p class="text-center p-3" style="background-color: aquamarine; font-size: 60px;">
                    <img src="https://cdn-icons-png.flaticon.com/128/3357/3357808.png">
                </p>
                <p class="font-effect-outline fs-3 text-center">One Way Cabs</p>
            </div>
            <div class="col-md-2">
                <p class="text-center p-3 " style="background-color: aquamarine; font-size: 60px;">
                    <img src="https://cdn-icons-png.flaticon.com/128/3994/3994939.png">
                </p>
                <p class="font-effect-outline fs-3 text-center">Airport Pickup</p>
            </div>
        </div>
    </div>
    <div class="mt-4 bg-light">
        <h1 class="text-center">How to book online taxi from Us!!</h1>
        <p class="text-center m-3 ">With One Drop Taxi online taxi booking services you can save time and money. Whether you
            plan a one-way trip or round-trip, you can go ahead with doing outstation cab booking on our app to any
            place simply at the click of a button from your mobile phone within a few minutes.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27186d12e4.js" crossorigin="anonymous"></script>
    <script src="cabbook.js"></script>
</body>

</html>