<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cab Booking information</title>
    <link rel="stylesheet" href="../../public/assests/css/cabbook.css">
    <link rel="stylesheet" href="../../public/assests/css/cab.css">
    <link rel="icon"
        href="https://cdn-user-icons.flaticon.com/116851/116851778/1694933370779.svg?token=exp=1694934288~hmac=c57675246c311010e227300424f0ffb5">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid">
    <div class="bg-secondary row">
        <div class="col-lg-6 icons text">
            <div class="mt-2">
                &nbsp;<i class="fa-brands fa-facebook-f" style="color: white;"></i>
                <i class="fa-brands fa-instagram" style="color: white;"></i>
                <i class="fa-brands fa-twitter" style="color: white;"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="text-end icons text-white mt-2">
                <i class="fa-solid fa-phone fa-fade"></i><label>&nbsp;9087661022</label>
                <i class="fa-solid fa-grip-lines-vertical"></i>
                <i class="fa-regular fa-user"></i><label>&nbsp;Sign in</label>
            </p>
        </div>
    </div>
    <div class="row m-3 p-10 ">
        <div class="col-lg-6">
            <img src="https://cdn-icons-png.flaticon.com/128/1023/1023350.png" width="60px" height="50px">
        </div>
        <div class="col-lg-6 ">
            <div class="navbar">
                <a href="cabbook.html" class="navs">Home</a>
                <a href="cabbookabt.html" class="navs">About us</a>
                <a href="cabride.html" class="navs">Ride Facilities</a>
                <a href="cabtarrif.html" class="navs">Tarriff</a>
                <a href="cabcontact.html" class="navs">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Booking Summary</h2>
            <table style="width: 100%; border: 3px !important;" class="table table-bordered">
                <tr>
                    <th>
                        Journey Type
                    </th>
                    <th>
                        One-Way
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>Cab Type:</p>
                    </td>
                    <td>
                        <p>Indica / Vista / Ritz / Swift or Similar</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27186d12e4.js" crossorigin="anonymous"></script>
    <script src="cabbook.js"></script>
</body>
</html>