<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cabbok About</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/3799/3799798.png">
    <link rel="stylesheet" href="../../public/assests/css/cabbook.css">
    <link rel="icon"
        href="https://cdn-user-icons.flaticon.com/116851/116851778/1694933370779.svg?token=exp=1694934288~hmac=c57675246c311010e227300424f0ffb5">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="container-fluid">
    <div class="bg-secondary row">
        <div class="col-lg-6 icons text">
            <div class="mt-2">
                &nbsp;<i class="fa-brands fa-facebook-f" style="color: white;"></i>
                <i class="fa-brands fa-instagram" style="color: white;"></i>
                <i class="fa-brands fa-twitter" style="color: white;"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="text-end icons text-white mt-2">
                <i class="fa-solid fa-phone fa-fade"></i><label>&nbsp;9087661022</label>
                <i class="fa-solid fa-grip-lines-vertical"></i>
                <i class="fa-regular fa-user"></i><label>&nbsp;Sign&nbsp;in</label>
            </p>
        </div>
    </div>
    <div class="row m-3  ">
        <div class="col-lg-6">
            <img src="https://cdn-icons-png.flaticon.com/128/1023/1023350.png" width="70px" height="40px">
        </div>
        <div class="col-lg-6 ">
            <div class="navbar">
                <a href="cabbook.html" class="navs">Home</a>
                <a href="cabbookabt.html" class="navs">About us</a>
                <a href="cabride.html" class="navs">Ride Facilities</a>
                <a href="cabtarrif.html" class="navs">Tarriff</a>
                <a href="cabcontact.html" class="navs">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="bgimgabt">
        <center>
            <div class="row">
                &nbsp;
            </div>
            <h3 class="text-primary mt-5 p-5">About Us</h3>
        </center>
    </div>
    <div class="abt">
        <div class="row">
            <div class="col-lg-6">
                <h2>An Overview of Company History - One Drop Taxi</h2>
                <p>Welcome to One drop taxi, the trusted outstation cab service provider for Chennai, Bangalore,
                    Pondicherry, Trichy, and other parts of Tamil Nadu. We have over a decade of experience in offering
                    local trips, outstation trips, airport trips, one-way drop taxis, and round-trip drop taxi services
                    to any destination. One Drop Taxi is the best outstation cab booking service in India as we stretch
                    our wings to large parts of the country, offering multiple travel options and well-protected rides.
                    We are the most reliable and reasonable cab fares for your outstation car rental services.</p>
            </div>
            <div class="col-lg-6">
                <img src="https://img.freepik.com/free-vector/online-application-call-taxi-service-by-smart-phone_1150-48822.jpg?size=626&ext=jpg&ga=GA1.1.11406635.1692806813&semt=sph"
                    class="imgabt">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5">
                <img src="https://img.freepik.com/free-vector/online-application-call-taxi-service-by-smart-phone_1150-48822.jpg?size=626&ext=jpg&ga=GA1.1.11406635.1692806813&semt=sph"
                    class="imgabt2">
            </div>
            <div class="col-lg-7">
                <h2>About Our Professional Taxi Driver</h2>
                <p>Our drivers possess high competent driving skills that are invaluable because they cover tens of
                    thousands of miles each year on average. Every passenger loves a safe and comfortable ride
                    throughout their journey especially when booking a taxi for outstation; our professional drivers
                    give that personal care and security to the customers. Our drivers greet every customer with a sense
                    of warmth in every approach, take you safely and make you feel comfortable. Every trained driver at
                    One Drop taxi possess good geographical knowledge of the town/city you are traveling to and can take
                    the customers to the destination on time hassle-free.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3" style="border-right: 1px solid black; ">
                <div class="bg-transparent">
                    <div class="text-center" style="border-right: 10px; border-color: black;">
                        <i class="fa-solid fa-car fs-1" style="color: #0b61f4;"></i>
                        <p>750,000</p>
                        <p>Vehicles</p>
                        <!-- <span class="border-right"></span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="border-right: 1px solid black; ">
                <div class="bg-transparent">
                    <div class="text-center" style="border-right: 10px; border-color: black;">
                        <i class="fa-solid fa-building"></i>
                        <p>220+</p>
                        <p>Major Cities</p>
                        <!-- <span class="border-right"></span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="border-right: 1px solid black; ">
                <div class="bg-transparent">
                    <div class="text-center" style="border-right: 10px; border-color: black;">
                        <i class="fa-regular fa-handshake"></i>
                        <p>550,00+</p>
                        <p>Entrerenuers</p>
                        <!-- <span class="border-right"></span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="border-right: 1px solid black; ">
                <div class="bg-transparent">
                    <div class="text-center" style="border-right: 10px; border-color: black;">
                        <i class="fa-solid fa-building"></i>
                        <p>7,50,000,00+</p>
                        <p>Passengers</p>
                        <!-- <span class="border-right"></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.css" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27186d12e4.js" crossorigin="anonymous"></script>
    <script src="cabbook.js"></script>
</body>

</html>