<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/3799/3799798.png">
    <link rel="stylesheet" href="../../public/assests/css/cabbook.css">
    <link rel="stylesheet" href="../../public/assests/css/cab.css">
    <link rel="icon"
        href="https://cdn-user-icons.flaticon.com/116851/116851778/1694933370779.svg?token=exp=1694934288~hmac=c57675246c311010e227300424f0ffb5">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ride Facilities</title>
</head>

<body>
    <div class="container-fluid">
        <div class="bg-secondary row">
            <div class="col-lg-6 icons text">
                <div class="mt-2">
                    &nbsp;<i class="fa-brands fa-facebook-f" style="color: white;"></i>
                    <i class="fa-brands fa-instagram" style="color: white;"></i>
                    <i class="fa-brands fa-twitter" style="color: white;"></i>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="text-end icons text-white mt-2">
                    <i class="fa-solid fa-phone fa-fade"></i><label>&nbsp;9087661022</label>
                    <i class="fa-solid fa-grip-lines-vertical"></i>
                    <i class="fa-regular fa-user"></i><label>&nbsp;Sign&nbsp;in</label>
                </p>
            </div>
        </div>
        <div class="row m-3 p-10 ">
            <div class="col-lg-6">
                <img src="https://cdn-icons-png.flaticon.com/128/1023/1023350.png" width="50px" height="40px">
            </div>
            <div class="col-lg-6 ">
                <div class="navbar">
                    <a href="cabbook.html" class="navs">Home</a>
                    <a href="cabbookabt.html" class="navs">About us</a>
                    <a href="cabride.html" class="navs">Ride Facilities</a>
                    <a href="cabtarrif.html" class="navs">Tarriff</a>
                    <a href="cabcontact.html" class="navs">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="bgimgride">
            <h1 class="text-center text-white  mt-2"><a href="cabbook.html" class="navs">Home</a>/Ride Facilities</h1>
            <h3 class="text-center mt-3 text-white">Ride Facilities</h3>
        </div>
        <div class="container-fluid mt-5 bg-info opacity-25">
            <div class="row" style="box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);">
                <div class="col-md-6">
                    <p class="fs-3">
                        Trusted Cab Services
                    </p>
                    <p class="fs-4 text-white">
                        While you travel alone to a new destination out of the city, or with your friends and family,
                        you can
                        keep your trust in us for your well-being. While planning for an outstation journey, book our
                        outstation
                        car rental services because our drivers are very knowledgeable of the routes and act as guides
                        throughout the trip so that you can feel comfortable and enjoy a stress-free journey. Hire our
                        drop taxi
                        services in Trichy and get transparent and discounted rates. We offer different outstation taxi
                        travel
                        options that best suit you. You can book a taxi online from our website; we offer pickup/drop
                        service
                        whenever you want.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://www.onedroptaxi.com/assets/img/ride-facilities1.jpg" class="ms-5">
                </div>
            </div>
        </div>
        <div class="bg-transparent mt-5" >
            <h3 class="text-center">One Drop Taxi's Best Ride Facilities</h3>
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-md-3">
                        <div class="card" style="box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);">
                            <div class="cfacilities">
                                <div class="ridehead">
                                <h5 class="text-center m-3 ">Safe One Way and Round Trip</h5>
                            </div>
                                <p class="m-3"> If you’re looking for a reliable outstation taxi service, then One Drop
                                    Taxi is your
                                    right choice. We offer safe one-way trip and round trip as per the convenience of
                                    our
                                    customers. We understand the value of your money hence we offer good deal on the
                                    rates
                                    while you hire a cab for your trip.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card " style="box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);">
                            <div class="cfacilities">
                                <h5 class="text-center m-3 ">Drop Taxi Tracking Facilities</h5>
                                <p class="m-3"> If you’re looking for a reliable outstation taxi service, then One Drop
                                    Taxi is your
                                    right choice. We offer safe one-way trip and round trip as per the convenience of
                                    our
                                    customers. We understand the value of your money hence we offer good deal on the
                                    rates
                                    while you hire a cab for your trip.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);">
                            <div class="cfacilities">
                                <h5 class="text-center m-3 ">Safe One Way and Round Trip</h5>
                                <p class="m-3"> If you’re looking for a reliable outstation taxi service, then One Drop
                                    Taxi is your
                                    right choice. We offer safe one-way trip and round trip as per the convenience of
                                    our
                                    customers. We understand the value of your money hence we offer good deal on the
                                    rates
                                    while you hire a cab for your trip.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row justify-content-around">
                    <div class="col-md-3">
                        <div class="card" style="box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);">
                            <div class="cfacilities">
                                <div class="ridehead">
                                <h5 class="text-center m-3 ">Safe One Way and Round Trip</h5>
                            </div>
                                <p class="m-3"> If you’re looking for a reliable outstation taxi service, then One Drop
                                    Taxi is your
                                    right choice. We offer safe one-way trip and round trip as per the convenience of
                                    our
                                    customers. We understand the value of your money hence we offer good deal on the
                                    rates
                                    while you hire a cab for your trip.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card " style="box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);">
                            <div class="cfacilities">
                                <h5 class="text-center m-3 ">Drop Taxi Tracking Facilities</h5>
                                <p class="m-3"> If you’re looking for a reliable outstation taxi service, then One Drop
                                    Taxi is your
                                    right choice. We offer safe one-way trip and round trip as per the convenience of
                                    our
                                    customers. We understand the value of your money hence we offer good deal on the
                                    rates
                                    while you hire a cab for your trip.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);">
                            <div class="cfacilities">
                                <h5 class="text-center m-3 ">Safe One Way and Round Trip</h5>
                                <p class="m-3"> If you’re looking for a reliable outstation taxi service, then One Drop
                                    Taxi is your
                                    right choice. We offer safe one-way trip and round trip as per the convenience of
                                    our
                                    customers. We understand the value of your money hence we offer good deal on the
                                    rates
                                    while you hire a cab for your trip.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #3feee6;" class="mt-5">
            <h4 class="text-center p-4">Popular Routes</h4>
            <div class="row justify-content-center font-effect-emboss" style="color: black; padding-bottom: 30px;">
                <div class="col-lg-3 ms-5">
                    <p class=" loc" >Chennai</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Madurai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Trichy
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Bangalore
                    </label>
                </div>
                <div class="col-lg-3 ">
                    <p class=" loc">Tiruchy</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Madurai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Chennai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Bangalore
                    </label>
                </div>
                <div class="col-lg-3 ">
                    <p class=" loc">Madurai</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Theni
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Chennai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Namakkal
                    </label>
                </div>
                <div class="col-lg-2 ">
                    <p class=" loc">Coimbatore</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to
                        Bangalore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to Theni
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to Karur
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to
                        Vellore
                    </label>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27186d12e4.js" crossorigin="anonymous"></script>
    <script src="cabbook.js"></script>
</body>

</html>