<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/3799/3799798.png">
    <link rel="stylesheet" href="../../public/assests/css/cabbook.css">
    <link rel="stylesheet" href="../../public/assests/css/cab.css">
    <link rel="icon"
        href="https://cdn-user-icons.flaticon.com/116851/116851778/1694933370779.svg?token=exp=1694934288~hmac=c57675246c311010e227300424f0ffb5">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,300&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    <title>Cab Tarriff</title>
</head>

<body>
    <div class="container-fluid">
        <div class="bg-secondary row">
            <div class="col-lg-6 icons text">
                <div class="mt-2">
                    &nbsp;<i class="fa-brands fa-facebook-f" style="color: white;"></i>
                    <i class="fa-brands fa-instagram" style="color: white;"></i>
                    <i class="fa-brands fa-twitter" style="color: white;"></i>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="text-end icons text-white mt-2">
                    <i class="fa-solid fa-phone fa-fade"></i><label>&nbsp;9087661022</label>
                    <i class="fa-solid fa-grip-lines-vertical"></i>
                    <i class="fa-regular fa-user"></i><label>&nbsp;Sign&nbsp;in</label>
                </p>
            </div>
        </div>
        <div class="row m-3 p-10 ">
            <div class="col-lg-6">
                <img src="https://cdn-icons-png.flaticon.com/128/1023/1023350.png" width="50px" height="40px">
            </div>
            <div class="col-lg-6">
                <div class="navbar">
                    <a href="cabbook.html" class="navs">Home</a>
                    <a href="cabbookabt.html" class="navs">About us</a>
                    <a href="cabride.html " class="navs">Ride Facilities</a>
                    <a href="cabtarrif.html" class="navs">Tarriff</a>
                    <a href="cabcontact.html" class="navs">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="bgimgtarrif">
            <p class="text-white text-center fs-3 p-5">Tarrif chart</p>
        </div>
        <div class="mt-5">
            <table style="width: 100%; border: 3px !important;" class="table table-bordered">
                <tr>
                    <th style="background-color: aquamarine;">

                    </th>
                    <th style="background-color: aquamarine;">
                        Vehicle types
                    </th>
                    <th style="background-color: aquamarine;">
                        One-way Rate/km
                    </th>
                    <th style="background-color: aquamarine;">
                        Round trip rate/km
                    </th>
                </tr>
                <tr>
                    <td>
                        <p class="text-center"> <img src="https://www.onedroptaxi.com/images/vehicles/2.png"
                                width="120px" height="80px" class=""></p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Indica / Vista / Ritz / Swift or Similar</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 13.5</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 13
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-center"> <img src="https://www.onedroptaxi.com/images/vehicles/2.png"
                                width="120px" height="80px" class=""></p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Indica / Vista / Ritz / Swift or Similar</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 13.5</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 13
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-center"> <img src="https://www.onedroptaxi.com/images/vehicles/taximo-etios.png"
                                width="120px" height="80px" class=""></p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Dzire /Etios /Indigo /Verito or Similar</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 14.5</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 14
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-center"><img src="https://www.onedroptaxi.com/images/vehicles/taximo-xylo.png"
                                width="120px" height="80px"></p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Mahindra Xylo / Tawera Ertiga</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 18.5</p>
                    </td>
                    <td>
                        <p class="text-center mt-4"> Rs 17
                        </p>
                    </td>
                </tr>
            </table>

            <div style="background-color: lightpink;">
                <div class="row">
                    <div class="col-lg-4 ">
                        <img src="../../public/assests/images/taxi-app-interface-concept_23-2148480928-removebg-preview.png"
                            width="432px" height="440px" class="img-fluid ">
                    </div>
                    <div class="col-lg-6">
                        <div class="justify content-center fs-4 mt-5">
                            <p class="mt-2">&nbsp;</p>
                            <h3 class="m-3">Additional charges details</h3>
                            <ul class="m-3">
                                <li>
                                    Toll Fees, Inter-State Permit charges (if any) are extra.
                                </li>
                                <li>
                                    One way taxi - Driver Bata Rs. 300. (If more than 400 km driver bata Rs.600).
                                </li>
                                <li>
                                    Round Trip - Driver Bata Rs. 400 Per Day.
                                </li>
                                <li>
                                    Tempo Traveler - Driver Bata Rs. 600.
                                </li>
                                <li>
                                    Hill Station Charges - Rs. 400.
                                </li>
                                <li>
                                    One way - Minimum running must be 130 km per day.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #3feee6;" class="mt-5">
            <h4 class="text-center p-4">Popular Routes</h4>
            <div class="row justify-content-center font-effect-emboss" style="color: black; padding-bottom: 30px;">
                <div class="col-lg-3 ms-5">
                    <p class=" loc" >Chennai</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Madurai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Trichy
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Bangalore
                    </label>
                </div>
                <div class="col-lg-3 ">
                    <p class=" loc">Tiruchy</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Madurai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Chennai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Bangalore
                    </label>
                </div>
                <div class="col-lg-3 ">
                    <p class=" loc">Madurai</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Theni
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Chennai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Namakkal
                    </label>
                </div>
                <div class="col-lg-2 ">
                    <p class=" loc">Coimbatore</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to
                        Bangalore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to Theni
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to Karur
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to
                        Vellore
                    </label>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27186d12e4.js" crossorigin="anonymous"></script>
    <script src="../../public/assests/js/cabbook.js"></script>
</body>

</html>